body {
  background: #eef2f3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/736x/2e/38/89/2e38895502f38dad6239b00621e7739a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.container {
  width: 400px;
  background: rgb(3, 105, 101);
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 0 40px #f40202;
}

h1 {
  text-align: center;
  color:rgb(13, 218, 225);
}

h2 {
  text-align: center;
  color:rgb(13, 218, 225);
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

input{
  padding: 15px ;
  font-size: 17px;
  font-family: Arial Narrow Bold;
  color: rgb(4, 18, 23);
  background-color: rgb(243, 238, 239);
}

select {
  padding: 15px ;
  font-size: 17px;
  font-family: Arial Narrow Bold;
  color: rgb(22, 1, 1);
}

button {
  padding: 15px ;
  font-size: 17px;
  font-family: Arial Narrow Bold;
  color: red;
}

button {
  background: #ff4400;
  color: rgb(12, 235, 220);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  background: #101301;
}


.task {
  background: rgb(56, 129, 202);
  padding: 12px;
  border-radius: 6px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priority-high {
  color: red;
  font-weight: bold;
}

.priority-medium {
  color: orange;
  font-weight: bold;
}

.priority-low {
  color: green;
  font-weight: bold;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: rgb(8, 214, 46);
}
